@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
  width: 1px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
/* set all */
.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

/* Body styles */
body{
  background-color: #EEF2FF;
  font-family: 'Raleway', sans-serif;
}
/* End body */

/* Container */
.main-container{
  width: 660px;
  height: 540px;
}
@media all and (max-width : 670px) {
  .main-container{
    width: 360px;
    height: 540px;
  }
}
/*End Container */

/* Input */
.search-Icon{
  top: 50%;
  transform: translateY(-50%);
}
/*End Input */
.chart{
  border-color: rgba(211, 211, 211, 0.301);
}
.scroll{
  overflow-y: scroll ;
  overflow-x: hidden;
}