@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* set all */
.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

body{
  background-color: #1E1F33;
}

.main-container{
  background-color: #262742;
  width: 700px;
  height: 450px;
}

.pic-wrapper {
}

.active {
  color: #E84172;
  transform: scale(1.4);
}