@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* set all */
.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.ymid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

body{
  padding: 20px;
}

.ymid {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
}

.circle{
  position: absolute; 
  background: url(icons8-hand-cursor-48.png);
  background-repeat: no-repeat;
  width: 96px;
  height: 88px;
  transition: .3s all ease-out;
  opacity: 1 ;
}

.op0{
  opacity: 0;
}

#kolang{
  background-color: #BFDBFE;
  cursor: url('icons8-hand-cursor-48.png') , none;	
}
